body{
    background:#EEE7DF;
}

article{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 22.5em;
    margin:auto;
}

@media screen and (min-width: 1024px){
    article {
        flex-direction: row;
        max-width: 50em;
        gap:10em;
    }
} 

article section.geheelfoto{
    position: relative;
    top:1.5em;
}

article section.geheelfoto span{
    background:#D5C3AE ;
    height: 0.09em;
    display: inline-block;
    position: absolute;
}

.firstline{
    left:-4.5em;
    bottom: 7.4em;
    width: 5em;
}

.secondline{
    width: 1em;
    opacity: 0;
}

article section.geheelfoto p{
    position: absolute;
    bottom: 5.90em;
    left: 1em;
}

article section.geheelfoto img{
    max-width: 17em;
}

@media screen and (min-width: 1024px){
    article section.geheelfoto img{
        max-width: 30em;
    }
}

nav li {
    list-style: none;
    
}


nav ul li a{
    text-decoration: none;
}

nav ul{
    display: flex;
    gap: 1.5em;
    justify-content: flex-end;
    padding-right: 0.5em;
}


.introtekst{
    display: grid;
    grid-template-columns: 3.5em 1fr;
    gap:1em;
    margin-top:3.5em;
}

.introtekst div:first-child{
    border-right: 0.1em rgba(0, 0, 0, 0.733) solid;
}

.introtekst img{
    width: 1.4em;
    display: block;
    margin-bottom: 0.5em;
    margin: 0em 0.7em 0.5em auto;
}

.introtekst div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1.2em 0;
}


.introtekst a{
    background-color: #DE8793 ;
    text-decoration: none;
    padding: 1em 1.5em;
    color: black;
    border-radius: 0.2em;
}

